CompileFlags:
  Add:
    - -std=c++11
    - -I/usr/include/c++/11
    - -I/usr/include/x86_64-linux-gnu/c++/11 
    - -I/usr/include/c++/11/backward
    - -I/usr/local/cuda-12.8/include
  Remove:
    - -qopenmp  # Strip out non-essential flags
  Compiler: clang++

Diagnostics:
  ClangTidy:
    Add: modernize*
    Remove: modernize-use-trailing-return-type
